.button {
  display: inline-block;
  padding: 0 50px;

  font: inherit;
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
  color: $color-white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  border: none;
  background: $color-green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 0 26px;

    font-size: 20px;
    line-height: 54px;
  }

  &--gray {
    color: $color-dark-gray;

    background-color: $color-gray;
  }
}
