.catalog {
  padding-top: 8px;
  padding-bottom: 11px;

  @media (max-width: $mobile-width-only) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}

.catalog__item {
  //margin-bottom: 19px;
  //
  //&:last-child {
  //  margin-bottom: 0;
  //}
  //
  //@media (min-width: $tablet-width) {
  //  margin-bottom: 0;
  //}
}
