.catalog {
  padding: 8px 0 11px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 68px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    margin-bottom: 75px;
    padding: 0 20px;
  }
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}

.catalog__item {
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
