.catalog {
  padding-bottom: 11px;

  @media (max-width: $mobile-width-only) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.catalog__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: 1080px) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 63px 80px;
  }
}
