.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    flex-basis: 165px;
  }

  path {
    fill: #666666;
  }

  b {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: $color-dark-gray;
  }

  &:hover,
  &:focus {
    path {
      fill: $color-green;
    }
  }

  &:active {
    path {
      fill: rgba($color-green, 0.3);
    }

    b {
      opacity: 0.3;
    }
  }
}
