.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  b {
    font-family: $font-secondary;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: $color-dark-gray;
  }
}
