.diets {
  padding-top: 22px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 80px;
    margin-bottom: 71px;
  }
}

.diets__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
