.diet {
  position: relative;

  padding: 30px 20px 20px;

  background-color: $color-gray;

  @media (min-width: $tablet-width) {
    padding: 76px 52px 53px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 52px;
    padding-bottom: 54px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 25px;
    left: 22px;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    background-color: $color-green;

    @media (min-width: $tablet-width) {
      top: 92px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    .diet--pro & {
      left: 22.5px;

      @media (min-width: $tablet-width) {
        top: 91px;
        right: 60px;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &--slim {
    &::after {
      top: 21px;
      left: 29px;

      width: 36px;
      height: 50px;

      background-image: url("../img/icon-cat-slim.svg");

      @media (min-width: $tablet-width) {
        top: 80px;
        left: auto;
        right: 92px;

        width: 140px;
        height: 192px;
      }

      @media (min-width: $desktop-width) {
        top: 41px;
        left: 67px;
        right: auto;

        width: 70px;
        height: 97px;
      }
    }
  }

  &--pro {
    @media (max-width: $mobile-width-only) {
      padding-top: 29px;
      padding-bottom: 20px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        right: 60px;
      }
    }

    &::after {
      top: 35px;
      left: 13px;

      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");

      @media (min-width: $tablet-width) {
        top: 135px;
        left: auto;
        right: 28px;

        width: 268px;
        height: 112px;
      }

      @media (min-width: $desktop-width) {
        top: 67px;
        left: 33px;
        right: auto;

        width: 134px;
        height: 56px;
      }
    }
  }
}

.diet__title {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 71px;

  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    .diet--pro & {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 377px;
    margin-bottom: 25px;
    padding-left: 1px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    max-width: 466px;
    margin-bottom: 74px;
    padding-left: 162px;
  }
}

.diet__description {
  margin: 0;
  margin-bottom: 19px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-gray;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 22px;
    border-bottom: 1px solid $color-gray-special-border;

    .diet--pro & {
      margin-bottom: 18px;
      padding-bottom: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 377px;
    margin-bottom: 48px;

    font-size: 16px;
    line-height: 24px;
    color: $color-black;
  }

  @media (min-width: $desktop-width) {
    max-width: 467px;
    margin-bottom: 23px;
  }

  .diet--pro & {
    @media (min-width: $tablet-width) {
      max-width: 342px;
    }

    @media (min-width: $desktop-width) {
      max-width: 467px;
    }
  }
}

.diet__link {
  position: relative;

  padding-right: 49px;

  font-size: 16px;
  line-height: 16px;
  color: $color-black;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    &::after {
      right: 0;
      width: 32px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 11'%3E%3Cpath d='M25.4 0L32 5.5 25.4 11V6.6H0V4.4h25.4z'/%3E%3C/svg%3E%0A");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    max-width: 377px;
    padding-top: 4px;
    padding-right: 57px;
    padding-bottom: 4px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 466px;
    padding-right: 60px;
  }

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    right: 8px;

    width: 24px;
    height: 11px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.2 11'%3E%3Cpath d='M17.6 0l6.6 5.5-6.6 5.5V6.6H0V4.4h17.6z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;

    transition: 0.3s;

    @media (min-width: $tablet-width) {
      top: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 13px;
      right: 8px;
    }
  }
}
