.features {
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    padding-right: 109px;
  }

  @media (min-width: 889px) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
    padding: 0 20px;
  }
}

.features__title {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.features__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 37px;
  }

  //@media (min-width: $desktop-width) {}
}

.features__item {
  position: relative;

  max-width: 400px;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-gray;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
  }

  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: 5px;

    width: 50px;
    height: 50px;

    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 250px;
    margin-bottom: 0;
  }

  @media (min-width: 889px) {
    flex-basis: 400px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 250px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--healthy {
    &::after {
      background-image: url("../img/advantage-leaf@1x.png");
    }
  }

  &--powder {
    &::after {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &--meal {
    &::after {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &--time {
    &::after {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}
