.features {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
    padding-right: 109px;
  }

  @media (min-width: 889px) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
    padding: 0 20px;
  }
}

.features__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.features__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__item {
  position: relative;

  max-width: 400px;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-gray;

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: $color-gray;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: -2px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;

    @media (min-width: $tablet-width) {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }

  &--healthy {
    @media (min-width: $desktop-width) {
      flex-basis: 230px;
      margin-right: 20px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "1";
        right: 21px;
      }

      @media (min-width: $desktop-width) {
        right: 0;
      }
    }

    &::after {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    @media (min-width: $tablet-width) {
      flex-basis: 246px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 251px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "2";
        right: 1px;
      }

      @media (min-width: $desktop-width) {
        right: 5px;
      }
    }

    &::after {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--meal {
    @media (min-width: $desktop-width) {
      flex-basis: 251px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "3";
        right: 3px;
      }
    }

    &::after {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--time {
    @media (max-width: $mobile-width-only) {
      br {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      flex-basis: 245px;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 246px;
    }

    &::before {
      @media (min-width: $tablet-width) {
        content: "4";
        right: -3px;
      }
    }

    &::after {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  @media (min-width: $tablet-width) {
    flex-basis: 250px;
    min-height: 280px;
    margin-bottom: 37px;
    padding-top: 152px;
    padding-left: 0;

    font-size: 16px;
    line-height: 24px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 889px) {
    flex-basis: 400px;
  }

  @media (min-width: 1260px) {
    flex-basis: 250px;
    margin-bottom: 0;
    padding-top: 151px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
