.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 58px;
  padding-right: 61px;
  padding-bottom: 42px;
  padding-left: 58px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-green;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 61px;
    padding-right: 124px;
    padding-left: 78px;
    padding-bottom: 58px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: center;
    padding-top: 57px;
    padding-right: 43px;
    padding-left: 41px;
    padding-bottom: 42px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.gift__image {
  margin: 0;
  margin-bottom: 48px;
  padding: 7px 9px 12px 12px;

  path {
    fill: $color-white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.gift__text {
  margin: 0;

  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 161px;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
