.live-example {
  padding-top: 27px;
  padding-bottom: 25px;

  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 0;

    background-color: $color-white;
  }
}

.live-example__background {
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    background-image: linear-gradient(to right, #f2f2f2 72.6%, #eaeaea 27.4%);
  }
}

.live-example__container {
  @media (min-width: $desktop-width) {
    width: $desktop-content-width;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}

.live-example__wrapper {
  padding-right: 21px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 0;
  }
}

.live-example__title {
  margin-bottom: 33px;
}

.live-example__desc {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-gray;
}

.live-example__list {
  @include reset-list;

  display: flex;
}

.live-example__item {
  flex-basis: 50%;
  padding: 15px 20px 30px;

  text-align: center;
}

.live-example__item-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;
}

.live-example__item-desc {
  margin: 0;
  margin-top: 14px;

  font-family: $font-secondary;
  font-size: 12px;
  line-height: 12px;
  color: $color-dark-gray;
}

.live-example__cost {
  margin: 0;
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;
}

.live-example__slider {
  @media (max-width: $mobile-width-only) {
    .live-example__wrapper {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    background-color: #eaeaea;
  }

  @media (min-width: $desktop-width) {
    .live-example__wrapper {
      width: 690px;
    }
  }
}
