.live-example {
  padding-top: 27px;
  padding-bottom: 25px;

  background-color: $color-gray-background;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 0;

    border-top: 1px solid $color-gray-special-2-border;
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;

    border-top: none;
  }
}

.live-example__background {
  @media (min-width: $desktop-width) {
    background-color: $color-gray;
    background-image: linear-gradient(to right, $color-gray 72.6%, $color-gray-background 27.4%);
  }
}

.live-example__container {
  @media (min-width: $desktop-width) {
    position: relative;

    width: $desktop-content-width;
    margin: 0 auto;
    padding: 70px 20px 64px;
    display: flex;
    justify-content: space-between;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;


      width: 690px;
      height: 100%;

      background-image: linear-gradient(to right, $color-gray 50%, $color-gray-background 50%);
    }
  }
}

.live-example__wrapper {
  padding-right: 21px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 0;
  }
}

.live-example__wrap-inline {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.live-example__title {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.live-example__desc {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $color-dark-gray;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.live-example__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    flex-basis: 366px;
    margin-bottom: 255px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.live-example__item {
  position: relative;

  flex-basis: 124px;
  padding: 13px 20px 17px;

  text-align: center;

  border: 1px solid $color-gray-border;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    flex-basis: 162px;
    padding-top: 14px;
    padding-bottom: 19px;
  }
}

.live-example__value {
  display: block;

  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.live-example__parameter {
  content: "";

  position: absolute;
  bottom: -16px;
  left: 50%;

  margin: 0;
  width: 87px;
  height: 24px;
  padding-right: 15px;
  padding-left: 15px;

  font-family: $font-secondary;
  font-size: 12px;
  line-height: 1;
  color: $color-dark-gray;

  background-color: $color-gray-background;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: max-content;
    padding-right: 8px;
    padding-left: 8px;

    font-size: 14px;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-gray;
  }
}

.live-example__cost {
  margin: 0;
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;

  @media (min-width: $tablet-width) {
    flex-basis: 174px;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: auto;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-basis: auto;
    margin-top: 0;
    margin-left: 0;
  }

  span {
    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 9px;
    }

    @media (min-width: $desktop-width) {
      display: inline;
      margin-top: 0;
      margin-left: 59px;
    }
  }
}

.live-example__slider {
  @media (max-width: $mobile-width-only) {
    .live-example__wrapper {
      padding: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;

    background-color: $color-gray-background;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 2;

    padding-bottom: 0;

    background-color: transparent;

    .live-example__wrapper {
      width: 690px;
    }
  }
}
