//.main-nav {}

.main-nav__toggle {
  position: absolute;
  top: 31px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 24px;
  height: 2px;
  padding: 0;

  border: none;
  background-color: $color-black;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    outline: none;
    opacity: 0.6;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 0;

    width: 24px;
    height: 2px;

    background-color: $color-black;
    cursor: pointer;

    transition: 0.3s;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }

  .main-nav--opened & {
    height: 0;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {

  .main-nav--opened & {
    display: flex;
  }
}
