.map {
  background-color: $color-gray;

  &--index {
    background-color: $color-white;
  }
}

.map__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-right: 72px;
    padding-bottom: 51px;
    padding-left: 71px;
  }

  @media (min-width: $desktop-width) {
    //position: absolute;
    //top: 95px;
    //left: 0;
    //z-index: 1;

    max-width: 570px;
    padding-top: 66px;
    padding-right: 89px;
    padding-bottom: 51px;
    padding-left: 76px;

    background-color: $color-white;
  }
}

.map__info {
  flex-basis: 50%;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: $color-black-special;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 171px;
  }
}

.map__address {
  flex-basis: 50%;
  margin: 0;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-gray;

  @media (min-width: $tablet-width) {
    max-width: 159px;

    text-align: right;
  }
}

.map__wrapper {
  width: 100%;
  height: 100%;
}

.map__image {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 362px;

  @media (min-width: $tablet-width) {
    max-height: 400px;
  }
}
