.map {
  position: relative;
  background-color: $color-gray;

  &--index {
    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 104px;
  }
}

.map__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-right: 43px;
    padding-bottom: 58px;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    max-width: 570px;
    padding-right: 85px;
    padding-left: 76px;

    background-color: $color-white;
  }
}

.map__info {
  flex-basis: 140px;
  margin: 0;

  font-size: 16px;
  line-height: 18px;
  color: $color-black-special;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-basis: 171px;

    font-size: 20px;
    line-height: 25px;
  }
}

.map__address {
  flex-basis: 140px;
  margin: 0;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  color: $color-dark-gray;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    flex-basis: 159px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.map__wrapper {
  min-width: 320px;
  height: 362px;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.map__image {
  display: block;
  width: 100%;
  height: 362px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}
