.page,
.page__body {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  background-color: $color-white;
  cursor: default;

  overflow-x: hidden;
}

.page__wrapper {
  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -10;

      background-image: linear-gradient(to right, #ffffff 50%, #64a83b 50%);
    }
  }
}
