//.page-main {}

.page-main__info {
  margin-top: 27px;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-main__title {
  margin: 0;
  margin-bottom: 56px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: $color-black;
}

.page-main__instruction {
  margin: 0;
  max-width: 230px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
}
