//.page-main {}

.page-main__info {
  margin-top: 27px;
  margin-bottom: 37px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 83px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin-bottom: 84px;
    padding: 0 20px;
  }
}

.page-main__title {
  margin: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: $color-black;
}

.page-main__instruction {
  margin: 0;
  margin-bottom: 39px;
  max-width: 230px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
}
