.page-footer {
  background: $color-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 55px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 31px;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    display: block;
    width: 128px;
    height: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  @media (max-width: $mobile-width-only) {
    display: block;
    width: 100%;
    margin-bottom: 22px;
    padding-top: 21px;
    padding-bottom: 17px;

    border-top: 1px solid $color-gray-special-border;
    border-bottom: 1px solid $color-gray-special-border;
  }

  @media (min-width: $tablet-width) {
    margin-left: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -5px;
    margin-left: 18px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    margin-top: -1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
