.page-header__container {
  padding-top: 11px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
    padding-top: 24px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 111px;
    padding-top: 53px;
  }
}

.page-header__logo {
  display: block;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }

  img {
    display: block;
    width: 191px;
    height: 38px;

    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 59px;
    }
  }

  @media (max-width: $mobile-width-only) {
    // ширина ограничена, чтобы ссылка не была под кнопкой меню
    max-width: 80%;
  }
}
