.plan {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.plan__form {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding-right: 35px;
    padding-left: 40px;
  }
}

.plan__group {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {

  }

  &--border {
    position: relative;

    margin-right: -20px;
    margin-left: -20px;
    padding: 20px 20px 21px;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 24px 27px;

      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
    }

    @media (min-width: $desktop-width) {

    }
  }
}

.plan__group-title {
  display: block;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {

  }
}

.plan__list {
  @include reset-list;

  &--checkboxes {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      gap: 32px 123px;
      max-width: 688px;
    }

    @media (min-width: $desktop-width) {
      column-gap: 104px;
      max-width: 1220px;
      margin-bottom: 61px;
    }
  }
}

.plan__columns {
  display: grid;

  &--tablet {
    @media (min-width: $tablet-width) {
      grid-template-columns: 282px 180px;
      gap: 30px 60px;
      align-items: center;
    }
  }

  &--padding {
    @media (min-width: $tablet-width) {
      margin-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      padding-top: 66px;
      padding-bottom: 69px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    align-items: center;
  }
}

.plan__item {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
  }

  &:last-child {
    margin-bottom: 0;
  }

  .plan__list--checkboxes & {
    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $tablet-width) {
      flex-basis: 221px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.plan__label {
  position: relative;

  display: block;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;

  transition: 0.15s;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {

  }

  &--radio {
    margin-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;

    color: $color-dark-gray-special;

    @media (min-width: $tablet-width) {
      margin-left: 60px;

      padding-top: 5px;
      padding-bottom: 5px;
    }

    @media (min-width: $desktop-width) {
    }
  }

  &--checkbox {
    margin-left: 45px;
    padding-top: 5px;
    padding-bottom: 7px;

    color: $color-black;

    @media (min-width: $tablet-width) {
      margin-left: 59px;
      padding-bottom: 5px;
    }

    @media (min-width: $desktop-width) {
    }
  }
}

.plan__input {
  flex-grow: 1;
  margin-left: 14px;
  padding: 13px 14px 14px;

  @include form-input-styling;

  @media (min-width: $tablet-width) {
    padding: 11px 19px;
  }

  @media (min-width: $desktop-width) {

  }
}

.plan__textarea {
  width: 100%;
  min-height: 150px;
  padding: 13px 15px;
  padding-right: 12px;

  @include form-input-styling;
  resize: none;

  @media (min-width: $tablet-width) {
    padding: 9px 18px;
  }

  @media (min-width: $desktop-width) {
  }
}

//.plan__input--text {}

//.plan__input--number {}

.plan__input--email {
  margin-left: 12px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 18px 13px;
  background-position: 93.6% 16px;

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13'%3E%3Cpath fill='%2368b738' d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E%0A");
  }

  &:invalid,
  &--invalid {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13'%3E%3Cpath fill='%23FF8282' d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E%0A");
  }

  @media (min-width: $tablet-width) {
    margin-left: 18px;

    background-position: 96.74% 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;

    background-position: 96.31% 18px;
  }
}

.plan__input--tel {
  margin-left: 9px;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1A3 3 0 000 2.9V16.8a2.9 2.9 0 002.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 94.12% 12px;

  &:focus {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%2368b738' d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1A3 3 0 000 2.9V16.8a2.9 2.9 0 002.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E%0A");
  }

  &:invalid,
  &--invalid {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23FF8282' d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1A3 3 0 000 2.9V16.8a2.9 2.9 0 002.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E%0A");
  }

  @media (min-width: $tablet-width) {
    margin-left: 14px;

    background-position: 97% 15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15px;

    background-position: 96.61% 15px;

  }
}

.plan__radio {
  &:hover + .plan__custom-radio,
  &:focus + .plan__custom-radio {
    border-color: #bababa;
  }

  &:checked + .plan__custom-radio::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 13.5px;
    height: 13.5px;

    border-radius: 50%;
    background-color: $color-green;

    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }

    @media (min-width: $desktop-width) {

    }
  }
}

.plan__custom-radio {
  position: absolute;
  top: 0;
  left: -46px;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    left: -60px;

    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {

  }
}

.plan__checkbox {
  &:hover + .plan__custom-checkbox,
  &:focus + .plan__custom-checkbox {
    border-color: #bababa;
  }

  &:checked + .plan__custom-checkbox::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 21.5px;
    height: 15.5px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 21.1px 15.5px;

    transform: translate(-50%, -50%);
  }
}

.plan__custom-checkbox {
  position: absolute;
  top: 0;
  left: -46px;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    left: -59px;

    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
  }
}

.plan__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.plan__legend {
  display: block;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline;

    font-size: 16px;
    text-align: left;
  }
}
