.plan {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

//.plan__form {}

.plan__group {
  margin: 0;
  padding: 0;

  border: none;

  &--border {
    position: relative;

    padding-top: 22px;
    padding-bottom: 20px;

    //border-top: 1px solid #d9d9d9;
    //border-bottom: 1px solid #d9d9d9;

    //&::before {
    //  content: "";
    //
    //  position: absolute;
    //  top: 0;
    //  left: -20px;
    //
    //  width: 320px;
    //
    //  border-top: 1px solid #d9d9d9;
    //}

    //&::after {
    //  content: "";
    //
    //  position: absolute;
    //  bottom: 0;
    //  left: -20px;
    //
    //  width: 320px;
    //
    //  border-top: 1px solid #d9d9d9;
    //}
  }
}

.plan__group-title {
  display: block;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 32px;

  //line-height: 26px;
}

.plan__list {
  @include reset-list;

  &--checkboxes {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      max-width: 688px;
    }

    @media (min-width: $desktop-width) {
      max-width: 1220px;
      margin-bottom: 61px;
    }
  }
}

.plan__columns {
  display: grid;

  &--tablet {
    @media (min-width: $tablet-width) {
      grid-template-columns: 282px 180px;
      gap: 30px 60px;
      align-items: center;
    }
  }

  &--padding {
    @media (min-width: $desktop-width) {
      padding-top: 66px;
      padding-bottom: 69px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    align-items: center;
  }
}

.plan__item {
  margin-bottom: 13px;

  .plan__list--checkboxes & {
    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $tablet-width) {
      flex-basis: 221px;
      margin-right: 123px;
      margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 104px;
      margin-bottom: 0;
    }
  }
}

.plan__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;

  &--radio {
    color: $color-dark-gray-special;
  }

  &--checkbox {
    color: $color-black;
  }
}

.plan__input {
  padding: 10px 14px;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;

  &::placeholder {
    opacity: 1;
  }
}

.plan__textarea {
  width: 100%;
  min-height: 150px;
  padding: 13px 15px;
  padding-right: 12px;


  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;

  border: 1px solid #e7e7e7;

  resize: none;

  &::placeholder {
    opacity: 1;
  }
}

//.plan__input--tel {}
//
//.plan__input--text {}
//
//.plan__input--number {}
//
//.plan__input--email {}
//
//.plan__radio {}
//
//.plan__custom-radio {}
//
//.plan__checkbox {}

//.plan__custom-checkbox {}

.plan__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.plan__legend {
  display: block;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline;
    text-align: left;
  }
}
