.plan {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.plan__form {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding-right: 36px;
    padding-left: 42px;

    .plan__headline span {
      margin-left: -39px;
    }
  }
}

.plan__columns {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 40px 80px;
    align-items: center;
  }

  &--tablet {
    @media (min-width: $tablet-width) {
      grid-template-columns: 282px 180px;
      gap: 30px 61px;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 569px 180px;
      gap: 40px 81px;
    }
  }

  &--groups {
    margin-bottom: 27px;

    @media (min-width: $tablet-width) {
      margin-bottom: 75px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 69px;
    }
  }
}

.plan__group {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  border: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }

  &--border {
    position: relative;

    margin-right: -20px;
    margin-left: -20px;
    padding: 20px 20px 18px;

    border-top: 1px solid $color-gray-special-border;
    border-bottom: 1px solid $color-gray-special-border;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding: 24px 27px;

      border: 1px solid $color-gray-special-border;
    }
  }

  &--extra {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 54px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 61px;
    }
  }

  &--column {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 72px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.plan__headline {
  display: block;
  width: 100%;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 76px;

    &--extra {
      margin-bottom: 57px;
    }
  }
}

.plan__list {
  @include reset-list;

  &--checkboxes {
    margin-top: -1px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 221px 221px;
      gap: 32px 123px;
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 221px 221px 221px 221px;
      column-gap: 104px;
    }
  }
}

.plan__item {
  position: relative;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &--checkbox {
    margin-bottom: 13px;

    &:nth-child(n + 2) {
      margin-bottom: 12px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 0;

      &:nth-child(n + 2) {
        margin-bottom: 0;
      }
    }
  }

  &--radio {
    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
    }
  }

  &--input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .plan__columns--items & {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.plan__label {
  display: block;

  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-dark-gray;

  transition: 0.15s;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &--tel {
      margin-left: -3px;
    }
  }
}

.plan__input {
  flex-grow: 1;
  margin-left: 15px;
  padding: 13px 15px 12px;

  @include form-input-styling;

  &:focus {
    & + .plan__input-icon {
      fill: $color-green;
    }
  }

  &:invalid,
  &--invalid {
    & + .plan__input-icon {
      fill: $color-error;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: 17px;
    padding: 10px 18px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding-left: 16px;
  }
}

.plan__textarea {
  width: 100%;
  min-height: 150px;
  margin-top: 1px;
  padding: 13px 14px;
  padding-right: 12px;

  @include form-input-styling;
  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 174px;
    margin-top: 0;
    margin-bottom: -2px;
    padding: 9px 17px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 18px;
  }
}

.plan__input-icon {
  position: absolute;

  &--email {
    right: 16px;

    @media (min-width: $tablet-width) {
      right: 18px;
    }

    @media (min-width: $desktop-width) {
      right: 19px;
    }
  }

  &--tel {
    right: 12px;

    @media (min-width: $tablet-width) {
      right: 16px;
    }
  }
}

.plan__input--text {
  margin-left: 13px;

  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 17px;
    padding-left: 19px;
  }
}

.plan__input--weight {
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 21px;
    padding-left: 17px;
  }
}

.plan__input--email {
  margin-left: 11px;
  padding-right: 40px;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
    padding-right: 50px;
    padding-left: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 22px;
    padding-left: 17px;
  }
}

.plan__input--tel {
  margin-left: 9px;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    margin-left: 16px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 18px;
    padding-left: 17px;
  }
}

.plan__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 52px;
  }
}

.plan__legend {
  display: block;

  font-family: $font-secondary;
  font-size: 14px;
  line-height: 16px;
  color: $color-black;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: inline;
    margin-top: -4px;

    font-size: 16px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}
