.promo {
  position: relative;

  padding-top: 27px;

  color: $color-white;
  text-align: center;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 305px;

    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $color-green;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      right: 0;
      left: auto;

      display: block;
      width: 50%;
      height: 696px;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;

    min-height: 810px;
    padding: 0 117px;

    color: $color-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: static;

    min-height: 484px;
    margin-bottom: 82px;
    padding: 0 80px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 290px;
    margin-bottom: 49px;

    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;

    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 54px;
    //left: 580px;
  }

  img {
    display: block;
    width: 280px;
    height: 270px;

    @media (min-width: $tablet-width) {
      width: 710px;
      height: 610px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 552px;
      height: 499px;
      margin: 0;
    }
  }
}

//.promo__link {}
