.show-more {
  position: relative;

  padding: 80px 20px 24px;

  background-color: $color-white;

  &::before {
    content: "";

    position: absolute;
    top: 26px;
    left: 50%;

    width: 30px;
    height: 30px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      top: 50px;

      width: 60px;
      height: 60px;

      background-image: url("../img/icon-plus.svg");
    }

    @media (min-width: $desktop-width) {
      top: 51px;
    }
  }

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $color-gray-special;
    border-bottom: 1px solid $color-gray-special;
  }

  @media (min-width: $tablet-width) {
    margin-top: 81px;
    padding: 159px 37px 36px;

    border: 2px solid $color-gray;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 36px 37px;
  }
}

.show-more__desc {
  margin: 0;
  margin-bottom: 7px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black-special;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 140px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__info {
  margin: 0;
  margin-bottom: 21px;

  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $color-dark-gray;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 170px;
    margin: 0 auto;
    margin-bottom: 87px;

    font-size: 16px;
    line-height: 18px;
  }
}

.show-more__link {
  width: 100%;
}
