.show-more {
  padding: 53px 20px 25px;

  background-color: $color-white;

  //@media (min-width: 992px) {
  //  grid-column: -3 / -1;
  //}

  //@media (min-width: $desktop-width) {
  //  grid-column: -2 / -1;
  //}
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black-special;
  text-transform: uppercase;
  text-align: center;
}

.show-more__desc {
  margin: 0;
  margin-bottom: 21px;

  font-family: $font-secondary;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  color: $color-dark-gray;
  text-align: center;
}

.show-more__link {
  width: 100%;
}
