.site-list {
  @include reset-list;

  @media (max-width: $mobile-width-only) {
    margin: 0 -20px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.site-list__item {
  display: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: block;
  }

  a {
    display: block;
    padding-top: 22px;
    padding-bottom: 24px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: $color-black;
    text-decoration: none;
    text-transform: uppercase;

    border-top: 1px solid $color-gray-special-2-border;
    background-color: $color-white;

    @media (min-width: $tablet-width) {
      padding-top: 18px;
      padding-bottom: 10px;

      font-size: 18px;
      line-height: 24px;
      font-weight: normal;

      border-top: none;
      background-color: transparent;
    }

    @media (min-width: $desktop-width) {
      padding-top: 17px;
      padding-bottom: 7px;

      font-size: 20px;
      line-height: 30px;
    }

    &[href]:hover,
    &[href]:focus {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }

    .site-list--index & {
      @media (min-width: $desktop-width) {
        color: $color-white;
      }
    }
  }

  &--current {
    a {
      @media (min-width: $tablet-width) {
        position: relative;
      }

      &::after {
        @media (min-width: $tablet-width) {
          content: "";

          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;

          height: 2px;

          background-color: $color-green;
        }

        .site-list--index & {
          @media (min-width: $desktop-width) {
            background-color: $color-white;
          }
        }
      }
    }
  }

  &:last-child {
    a {
      @media (max-width: $mobile-width-only) {
        border-bottom: 1px solid $color-gray-special-2-border;
      }
    }
  }
}
