.slider__images {
  width: 320px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    $images-shift: -169px;

    position: relative;
    top: $images-shift;

    display: flex;
    width: 690px;
    height: 517px;
    margin-bottom: $images-shift + 14px;
  }

  @media (min-width: $desktop-width) {
    $images-shift: -261px;

    top: $images-shift;

    margin-bottom: $images-shift + 35px;
  }
}

.slider__image {
  @media (min-width: $tablet-width) {
    width: 345px;
    height: 517px;

    overflow: hidden;
  }

  img {
    display: block;
    width: 320px;
    height: 240px;

    @media (min-width: $tablet-width) {
      position: relative;
      top: 0;
      left: 0;

      //width: 690px;
      //height: 517px;
      width: 690px;
      height: 100%;
    }
  }

  &--before {
    img {
      @media (min-width: $tablet-width) {
        left: 0;
      }
    }
  }

  &--after {
    img {
      display: none;

      @media (min-width: $tablet-width) {
        right: 0;

        display: block;
      }
    }
  }
}

.slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 228px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 569px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-left: 79px;
  }
}

.slider__toggle {
  font: inherit;
  font-size: 16px;
  line-height: 40px;
  color: $color-black;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: 0.3s;

  &:hover,
  &:focus {
    text-decoration: underline;
    outline: none;

    @media (min-width: $tablet-width) {
      text-decoration: none;

      border-bottom-style: solid;
      border-bottom-color: rgba($color-black, 0.4);
    }
  }

  &:active {
    border-bottom-color: transparent;
  }

  @media (max-width: $mobile-width-only) {
    &--before {
      margin-left: 5px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 20px;
    line-height: 31px;
    border-bottom: 1px dotted rgba($color-black, 0.24);

    &--before {
      margin-left: -2px;
    }
  }
}

.slider__track {
  position: relative;

  width: 84px;
  height: 14px;
  padding: 3px 6px;

  border: 1px solid $color-gray-border;
  border-radius: 6px;
  background-color: $color-white;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    padding: 0;

    border: none;
    background-color: $color-gray-special-2;
  }
}

.slider__thumb {
  position: absolute;

  width: 35px;
  height: 6px;
  padding: 0;

  border: none;
  border-radius: 6px;
  background-color: $color-green;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
  cursor: pointer;

  transition: 0.3s;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";

      position: absolute;
      top: 12px;
      left: 12px;

      width: 8px;
      height: 8px;

      border-radius: 50%;
      background-color: $color-green;
    }
  }

  &:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
  }

  &:focus,
  &:active {
    border-color: $color-green;
    outline: none;
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
  }

  @media (min-width: $tablet-width) {
    top: -14px;

    display: block;
    width: 34px;
    height: 34px;

    border: 1px solid $color-gray-border;
    border-radius: 50%;
    background-color: $color-white;
  }
}
