//.social {}

.social__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

//.social__item {}

//.social__link {}
