.social__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 134px;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 120px;
  }
}

.social__link {
  display: inline-block;

  path,
  circle {
    fill: $color-dark-gray-special-2;
  }

  &:hover,
  &:focus {
    path,
    circle {
      fill: $color-green;
    }
  }

  &:active {
    path,
    circle {
      fill: rgba($color-green, 0.3);
    }
  }

  &--vk {
    svg {
      width: 23px;
      height: 16px;

      @media (min-width: $tablet-width) {
        width: 30px;
        height: 22px;
      }
    }
  }

  &--instagram {
    svg {
      width: 16px;
      height: 16px;

      @media (min-width: $tablet-width) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    svg {
      width: 22px;
      height: 22px;

      @media (min-width: $tablet-width) {
        width: 13px;
        height: 27px;
      }
    }
  }
}

.social__link-icon {
  fill: $color-dark-gray-special-2;

  &:hover,
  &:focus {
    fill: $color-green;
  }

  &:active {
    fill: rgba($color-green, 0.3);
  }
}
